.display_text {
    width: 100.0%;
    height: 100.0%;
    color: white;
    background: linear-gradient(135deg, #0088cc, #0077b3); /* Telegram blue background with gradient */
    border-radius: 5px;
    padding: 10px;
    font-size: 1.25em;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25); /* Shadow around the popup */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style for the arrow */
.display_text:after {
    content: '';
    position: absolute;
    bottom: 0px; /* Position it at the bottom */
    left: 45%; /* Center the arrow */
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #0088cc transparent transparent; /* Arrow color */
}

.display_text:hover {
    background: linear-gradient(135deg, #0077b3, #006699); /* Darker blue when hovered */
}

/* Styles for the popup wrapper */
.leaflet-popup-content-wrapper {
    background: transparent; /* Make the background transparent */
    border: none; /* Remove the border */
    box-shadow: none; /* Remove the shadow */
}

/* Styles for the popup tip */
.leaflet-popup-tip {
    background: transparent; /* Make the background transparent */
    box-shadow: none; /* Remove the shadow */
}

/* Style for the close button */
.leaflet-popup-close-button {
    background: linear-gradient(135deg, #0088cc, #0077b3) !important; /* Telegram blue background with gradient */
    color: white !important; /* Telegram close button color */
    font-size: 1.2em !important; /* Make the button a bit smaller */
    border-radius: 5px; /* Makes the button circular */
    width: 20px !important; /* Set a specific width */
    height: 20px !important; /* Set a specific height */
    line-height: 20px !important; /* Same as height to align 'x' vertically */
    text-align: center !important; /* Center the 'x' */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Shadow around the popup */
}

.leaflet-popup-close-button:hover {
    background: linear-gradient(135deg, #0077b3, #006699) !important; /* Darker blue when hovered */
}
